.logo img{
    display:block;
    margin:0 auto;
}

form {
    text-align: center;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
}

li{
    float:left;
}

li a{
    display: inline-block;
    text-decoration:none;
    padding: 8px;
    margin: 11px;
    background-color: #ffffff;
    color: #000;
}

    